@import "bootstrap/dist/css/bootstrap.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{

    --main-theme:#3C68B0;
    --text-theme:#1E3A8A;
    --soft-blue:#C9DDFD;
    --white:#fff;
    --black:#000;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --fontfamily:"__Playfair_Display_6b3ed8","__Playfair_Display_Fallback_6b3ed8";
}
body{
    font-family: var(--fontfamily)!important;
}

.main{
    background:linear-gradient(120deg,#f0f6ff 0%,rgba(59,130,246,.85)60%,#0f172a 100%);
}
.navbar{
    border-bottom: 3px solid var(--white);
}

/* Hero Section */
.hero{
    height: 100vh;
}

.hero .detail h1{
    font-weight: 550;
    color: var(--text-theme);
}
.hero .detail p{
    font-style: italic;
}

/* Services Section */
.services, .review .card {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.services, .review .card:hover {
  transform: translateY(-10px);
}

/* image rotation on card hover */
.services .card img {
  transition: transform 0.3s ease;
}

.services .card:hover img {
  transform: rotate(190deg);
}

/* Project Section */
.projects .card {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
              var(--tw-ring-shadow, 0 0 #0000),
              var(--tw-shadow);
}

.projects .card:hover {
  transform: translateY(-10px);
}

/* 👇 this is the trick */
.projects .card:hover .btn {
  background: var(--black);
  color: var(--white);
}

.chats .detail .info{
   transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
   border: 1px solid #d1cfcf;
}
.chats .detail .info:hover{
   transform: translateY(-3px);
   outline: 1px solid var(--soft-blue);
}

